#menu .m_guide_span {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: AppleSDGothicNeoL00;
    margin-bottom: 10px;
    display: block;
}
#menu > .custom_box {
    width: 100%;
    height: 430px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    margin-bottom: 30px;
    overflow-y: auto;
}
#menu .cbx {
    width: 100%;
    height: 50px;
    border-top: 0.3px solid rgba(0, 0, 0, 0.15);
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;
}
#menu .cbx.off {
    background-color: rgba(100, 100, 100, 0.1);
}
#menu .cbx.on {
    background-color: rgba(0, 0, 0, 0.2);
}
#menu .checkspan {
    color: white;
    font-family: AppleSDGothicNeoL00;
    font-size: 17px;
}
#menu .cbx input[type=checkbox] {
    margin-right: 15px;
}
#donate {
    width: 80%;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    border: 1px solid rgba(150, 150, 150, 0.5);
    font-size: 15px;
    color: white;
    font-family: AppleSDGothicNeoL00;
    display: block;
    margin: auto;
    margin-top: 15px;
}