.cloud {
    position: absolute !important;
    transform: translate(-50%, -50%);
    color: white;
    transition: all 0.5s ease-in-out !important;
}
.disappear {
    display: none !important;
}

.cloud.on {
    font-size: 16px !important;
}

/* earth animation */
#earth.earth {
    top: calc(50% + 30px) !important;
    left: calc(25%) !important;
    color: rgb(238, 73, 73) !important;
    font-size: 18px !important;
    transform: rotate(30deg) !important;
}

#greenhouse.earth {
    top: calc(50% - 69px) !important;
    left: calc(45%) !important;
}

#sea​Level.earth {
    top: calc(50% - 64px) !important;
    left: calc(50% - 47px) !important;
    transform: rotate(90deg) !important;
}

#greenGas.earth {
    top: calc(45%) !important;
    left: calc(40%) !important;
}

#northPole.earth {
    top: calc(45% - 28px) !important;
    left: calc(20% - -17px) !important;
    transform: rotate(90deg) !important;
}

#warming.earth {
    top: calc(35% - 10px) !important;
    left: calc(25% - 23px) !important;
    transform: rotate(-45deg) !important;
}

#weatherChange.earth {
    top: calc(48%) !important;
    left: calc(60% - 10px) !important;
    transform: rotate(90deg) !important;
}

#city.earth {
    top: calc(60%) !important;
    left: calc(58%) !important;
    transform: rotate(-45deg) !important;
}

#sea.earth {
    top: calc(35% - 11px) !important;
    left: calc(58%) !important;
    transform: rotate(45deg) !important;
}

#ecosystem.earth {
    top: calc(65% - 9px) !important;
    left: calc(45% - 20px) !important;
}

#carbonDioxide.earth {
    top: calc(56% - 9px) !important;
    left: calc(24% + 30px) !important;
}





#earth.greenhouse {
    top: calc(50% - 250px) !important;
    left: calc(50% - 100px) !important;
}

#greenhouse.greenhouse {
    top: calc(50% - 280px) !important;
    left: calc(50% - 70px) !important;
    transform: rotate( 90deg) !important;
    color: rgb(238, 73, 73) !important;
    font-size: 18px !important;
}

#sea​Level.greenhouse {
    top: calc(50% - 300px) !important;
    left: calc(50% + 13px) !important;
    transform: rotate( 90deg) !important;
}

#greenGas.greenhouse {
    top: calc(50% - 276px) !important;
    left: calc(50% - 95px) !important;
}

#northPole.greenhouse {
    top: calc(50% - 310px) !important;
    left: calc(50% - 60px) !important;
    transform: rotate( 45deg) !important;
}

#warming.greenhouse {
    top: calc(50% - 300px) !important;
    left: calc(50% + 100px) !important;
    transform: rotate( 90deg) !important;
}

#weatherChange.greenhouse {
    top: calc(50% - 310px) !important;
    left: calc(50% + 80px) !important;
}

#city.greenhouse {
    top: calc(50% - 265px) !important;
    left: calc(50% + 90px) !important;
}

#sea.greenhouse {
    top: calc(50% - 290px) !important;
    left: calc(50% - 150px) !important;
    transform: rotate( 90deg) !important;
}

#ecosystem.greenhouse {
    top: calc(50% - 285px) !important;
    left: calc(50% + 80px) !important;
}

#carbonDioxide.greenhouse {
    top: calc(50% - 300px) !important;
    left: calc(50% - 100px) !important;
}







#earth.greenGas {
    top: calc(50% - 10px) !important;
    left: calc(50% + 35px) !important;
    transform: rotate( 90deg) !important;
}

#greenhouse.greenGas {
    top: calc(50%) !important;
    left: calc(50% + 90px) !important;
}

#sea​Level.greenGas {
    top: calc(50% + 30px) !important;
    left: calc(50% + 20px) !important;
    transform: rotate( -45deg) !important;
}

#greenGas.greenGas {
    top: calc(50%) !important;
    left: calc(50% + 100px) !important;
    transform: rotate( 90deg) !important;
    color: rgb(238, 73, 73) !important;
    font-size: 18px !important;
}

#northPole.greenGas {
    top: calc(50% + 150px) !important;
    left: calc(50% - 130px) !important;
}

#warming.greenGas {
    top: calc(50% + 90px) !important;
    left: calc(50% + 40px) !important;
}

#weatherChange.greenGas {
    top: calc(50% + 40px) !important;
    left: calc(50%) !important;
}

#city.greenGas {
    top: calc(50% + 70px) !important;
    left: calc(50% - 50px) !important;
}

#sea.greenGas {
    top: calc(50% + 90px) !important;
    left: calc(50% - 20px) !important;
    transform: rotate( 90deg) !important;
}

#ecosystem.greenGas {
    top: calc(50% + 90px) !important;
    left: calc(50% - 120px) !important;
    transform: rotate( -45deg) !important;
}

#carbonDioxide.greenGas {
    top: calc(50% + 130px) !important;
    left: calc(50% - 50px) !important;
}






#earth.northPole {
    top: calc(50% - 30px) !important;
    left: calc(50% - 10px) !important;
    transform: rotate( 90deg) !important;
}

#greenhouse.northPole {
    top: calc(50% + 130px) !important;
    left: calc(50% + 50px) !important;
}

#sea​Level.northPole {
    top: calc(50% + 80px) !important;
    left: calc(50% + 50px) !important;
    transform: rotate( 60deg) !important;
}

#greenGas.northPole {
    top: calc(50% - 10px) !important;
    left: calc(50% + 10px) !important;
    transform: rotate( 75deg) !important;
}

#northPole.northPole {
    top: calc(50% + 140px) !important;
    left: calc(50% - 100px) !important;
    color: rgb(238, 73, 73) !important;
    font-size: 18px !important;
}

#warming.northPole {
    top: calc(50% + 90px) !important;
    left: calc(50% + 40px) !important;
}

#weatherChange.northPole {
    top: calc(50% + 20px) !important;
    left: calc(50% - 50px) !important;
    transform: rotate( -60deg) !important;
}

#city.northPole {
    top: calc(50% + 70px) !important;
    left: calc(50% - 50px) !important;
}

#sea.northPole {
    top: calc(50% + 90px) !important;
    left: calc(50% - 20px) !important;
    transform: rotate( 90deg) !important;
}

#ecosystem.northPole {
    top: calc(50% + 90px) !important;
    left: calc(50% - 100px) !important;
    transform: rotate( -45deg) !important;
}

#carbonDioxide.northPole {
    top: calc(50% + 130px) !important;
    left: calc(50% - 20px) !important;
}






#greenhouse.warming {
    top: calc(50% - 90px) !important;
    left: calc(50% - 90px) !important;
    transform: rotate(45deg) !important;
}


#sea​Level.warming {
    top: calc(50% + 30px) !important;
    left: calc(50% + 30px) !important;
    transform: rotate(45deg) !important;
}

#greenGas.warming {
    top: calc(50% - 20px) !important;
    left: calc(50% + 60px) !important;
}


#northPole.warming {
    top: calc(50% + 20px) !important;
    left: calc(50% - 100px) !important;
    transform: rotate(-45deg) !important;
}

#warming.warming {
    top: calc(50% - 130px) !important;
    left: calc(50% + 40px) !important;
    transform: rotate(-45deg) !important;
    color: rgb(238, 73, 73) !important;
}

#weatherChange.warming {
    top: calc(50% + 60px) !important;
    left: calc(50% - 40px) !important;
    transform: rotate(90deg) !important;
}

#city.warming {
    top: calc(50%) !important;
    left: calc(50% - 20px) !important;
}

#sea.warming {
    top: calc(50% - 20px) !important;
    left: calc(50% - 20px) !important;
}

#ecosystem.warming {
    top: calc(50% - 120px) !important;
    left: calc(50% - 10px) !important;
    transform: rotate(90deg) !important;
}

#carbonDioxide.warming {
    top: calc(50% - 30px) !important;
    left: calc(50% - 130px) !important;
}






#earth.weatherChange {
    top: calc(50% - 45px) !important;
    left: calc(50% - 60px) !important;
}

#greenhouse.weatherChange {
    top: calc(50% - 90px) !important;
    left: calc(50% - 60px) !important;
}

#sea​Level.weatherChange {
    top: calc(50% - 150px) !important;
    left: calc(50% + 10px) !important;
    transform: rotate( 90deg) !important;
}

#greenGas.weatherChange {
    top: calc(50% - 70px) !important;
    left: calc(50% + 5px) !important;
    transform: rotate( 90deg) !important;
}

#northPole.weatherChange {
    top: calc(50% - 45px) !important;
    left: calc(50% - 20px) !important;
}

#warming.weatherChange {
    top: calc(50% - 90px) !important;
    left: calc(50% + 30px) !important;
    transform: rotate( 90deg) !important;
}

#weatherChange.weatherChange {
    top: calc(50% - 80px) !important;
    left: calc(50% + 50px) !important;
    transform: rotate( 90deg) !important;
    color: rgb(238, 73, 73) !important;
    font-size: 18px !important;
}

#city.weatherChange {
    top: calc(50% - 120px) !important;
    left: calc(50%) !important;
    transform: rotate( 90deg) !important;
}

#sea.weatherChange {
    top: calc(50% - 90px) !important;
    left: calc(50% + 200px) !important;
    transform: rotate( 90deg) !important;
}

#ecosystem.weatherChange {
    top: calc(50% - 90px) !important;
    left: calc(50% - 20px) !important;
}

#carbonDioxide.weatherChange {
    top: calc(50% - 70px) !important;
    left: calc(50% - 60px) !important;
}







#earth.city {
    top: calc(50% - 180px) !important;
    left: calc(50% + 30px) !important;
    transform: rotate(0deg) !important;
}

#greenhouse.city {
    top: calc(50% - 42px) !important;
    left: calc(50% + 15px) !important;
}

#sea​Level.city {
    top: calc(50% - 95px) !important;
    left: calc(50% + -34px) !important;
    transform: rotate(90deg) !important;
}

#greenGas.city {
    top: calc(50% - 90px) !important;
    left: calc(50% - 100px) !important;
    transform: rotate(90deg) !important;
}

#northPole.city {
    top: calc(50% - 42px) !important;
    left: calc(50% + -29px) !important;
}

#warming.city {
    top: calc(50% - 133px) !important;
    left: calc(50% - 94px) !important;
    transform: rotate(90deg) !important;
}

#weatherChange.city {
    top: calc(50% - 72px) !important;
    left: calc(50% + 17px) !important;
    transform: rotate(90deg) !important;
}

#city.city {
    top: calc(50% - 175px) !important;
    left: calc(50% + 43px) !important;
    transform: rotate(90deg) !important;
    color: rgb(238, 73, 73) !important;
    font-size: 18px !important;
}

#sea.city {
    top: calc(50% - 200px) !important;
    left: calc(50%) !important;
    transform: rotate(0deg) !important;
}

#ecosystem.city {
    top: calc(50% - 130px) !important;
    left: calc(50% - 86px) !important;
}

#carbonDioxide.city {
    top: calc(50% - 120px) !important;
    left: calc(50% - 20px) !important;
}






#earth.ecoSystem {
    top: calc(50% - 97px) !important;
    left: calc(50% + -27px) !important;
}

#greenhouse.ecoSystem {
    top: calc(50% - 81px) !important;
    left: calc(50% + 55px) !important;
    transform: rotate( 45deg) !important;
}

#sea​Level.ecoSystem {
    top: calc(50% - 95px) !important;
    left: calc(50% + 30px) !important;
}

#greenGas.ecoSystem {
    top: calc(50% - 149px) !important;
    left: calc(50% + -3px) !important;
    transform: rotate( 45deg) !important;
}

#northPole.ecoSystem {
    top: calc(50% - 42px) !important;
    left: calc(50% - 84px) !important;
}

#warming.ecoSystem {
    top: calc(50% - 90px) !important;
    left: calc(50% - 81px) !important;
    transform: rotate( -45deg) !important;
}

#weatherChange.ecoSystem {
    top: calc(50% - 41px) !important;
    left: calc(50% + -4px) !important;
}

#city.ecoSystem {
    top: calc(50% - 41px) !important;
    left: calc(50% - 53px) !important;
}

#sea.ecoSystem {
    top: calc(50% - 90px) !important;
    left: calc(50% + 200px) !important;
    transform: rotate( 90deg) !important;
}

#ecosystem.ecoSystem {
    top: calc(50% - 141px) !important;
    left: calc(50% - 38px) !important;
    transform: rotate( -45deg) !important;
    color: rgb(238, 73, 73) !important;
    font-size: 18px !important;
}

#carbonDioxide.ecoSystem {
    top: calc(50% - 41px) !important;
    left: calc(50% + 64px) !important;
}






.carbonDioxide {
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    color: white !important;
}
#earth.carbonDioxide {
    transform: rotate( 45deg) !important;
    top: calc(50% - 150px) !important;
    left: calc(50% + 10px) !important;
}

#greenhouse.carbonDioxide {
    top: calc(50% - 125px) !important;
    left: calc(50% + 25px) !important;
    transform: rotate( -45deg) !important;
}

#sea​Level.carbonDioxide {
    top: calc(50% - 150px) !important;
    left: calc(50% - 40px) !important;
    transform: rotate( -45deg) !important;
}

#greenGas.carbonDioxide {
    top: calc(50% - 130px) !important;
    left: calc(50% - 140px) !important;
    transform: rotate( 90deg) !important;
}

#northPole.carbonDioxide {
    top: calc(50% - 180px) !important;
    left: calc(50% + 90px) !important;
}

#warming.carbonDioxide {
    top: calc(50% - 100px) !important;
    left: calc(50% - 50px) !important;
    transform: rotate( 45deg) !important;
}

#weatherChange.carbonDioxide {
    top: calc(50% - 155px) !important;
    left: calc(50% + 50px) !important;
    transform: rotate(55deg) !important;
}

#city.carbonDioxide {
    top: calc(50% - 155px) !important;
    left: calc(50% + 100px) !important;
    transform: rotate( 302deg) !important;
}

#sea.carbonDioxide {
    top: calc(50% - 100px) !important;
    left: calc(50%) !important;
    transform: rotate( -45deg) !important;
}
#ecosystem.carbonDioxide {
    top: calc(50% - 150px) !important;
    left: calc(50% - 100px) !important;
}

#carbonDioxide.carbonDioxide {
    top: calc(50% - 110px) !important;
    left: calc(50% - 130px) !important;
    color: rgb(238, 73, 73) !important;
    transform: rotate(311deg) !important;
    font-size: 18px !important;
}